$black: #3b434e;
$primary: #7653fc;
$primaryHover: #6344df;
$red: #fc836d;
$redLight: #fea291;
$green: #1dc37e;
$greenLight: #c8f8e4;
$fontFamily: "Noto Sans KR", sans-serif;
$grayLight: #ebebeb;
$gray: #a4a4a4;
